<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="denis.paim.formapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FormApp">
        <activity
            android:name=".CadastroActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.FormApp.NoActionBar"/>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FormApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>